body{
    background-color: antiquewhite;
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    height: 60px;
    background-color: #dfd6d1;
    color: white;
    width: 100%;
    
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul li{
 text-decoration: none;
 list-style: none;
 /* padding: 8px; */
 
}
.navbar img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin: 1px 4px 0 0;
}
.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: rgb(127, 76, 10);
    
    margin: 0 23px;
}
.list-item{
    padding: 8px;
    font-size: 1rem;
    color: #4d0011;
}



/* content */
.content-container{
    min-height: 70vh;
    background-color: #1f232c;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 34px;
    background-image: url(bg.jpg);
    background-size:cover ;
}
.songs{
    height: 60px;
    width: 550px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.songs img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
}.name{
    font-size: 1.2rem;
    
}
.timestamp{
    display: flex;
    align-items: center;
    /* margin-top: 10px; */
}
.timestamp img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}













/* bottom */
.bottom{
    height: 115px;
    /* background-color: #1f232c; */
    background-color:#83746e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
#myprogressbar{
    width: 80vw;
    margin-bottom: 8px;
}
.icons img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.songinfo{
position: absolute;
    left: 3vw;
    margin-top:52px ;
    
}

.pauseok{
    display:none ;
}
.gif{
    
    /* margin-right: 580px; */
    /* margin-bottom: 1120px; */
    font-size: 1.5rem;
    padding: 8px;
    display: flex;
}
.gif img{
    height: 30px;
    width: 40px;
    margin-right: 8px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
} 